.DS_Store
*.egg
*.egg-info
.eggs

*.pyc
*.pyo

.tox

.coverage
coverage/

build
dist/
docs/_build

# Local data to use. 
data/local

# IDE users, please keep your data locally
.idea/
.project
.pydevproject
.settings
